.container
	.jumbotron.text-center
		%br
		%br
		%br
		%br
		%br
		%h1 Homework Assignment Tracker
		%br
		- if user_signed_in?
			%p
				Welcome #{current_user.email}
		- else
			%p
				= link_to "Login", new_user_session_path, :class => "btn btn-default btn-lg"
				= link_to "Sign up", new_user_registration_path, :class => "btn btn-default btn-lg"