%h1 Submissions

- @submissions.each do |f|
	= link_to f.name, assignment_submission_path(@assignment, f)
	%br

%br	
= link_to "Home", root_path
= link_to "Submit Assignment", new_assignment_submission_path