.jumbotron {
  background-image: image-url("coding2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0; 
  color: #DDEAEB;
  
}

.btn.btn-default.btn-lg {
	background: #DDEAEB;
	color: #7399D6;
}

nav.navbar.navbar-default.navbar-static-top {
	background: #DDEAEB;
}



